#
# Copyright 2020-2021 Herald Project Contributors
# SPDX-License-Identifier: Apache-2.0
# 
#

menu "HERALD"

  comment "Payload"

  config HERALD_PAYLOAD_READ_INTERVAL_S
  int "Payload read interval (seconds)"
  default 900
  help
    "The time that should be waited before payload is read again"
  
  config HERALD_MAX_PAYLOAD_READ_AT_ONE_TIME
  int "Maximum payloads simultaneously read"
  default 1
  help
    "The maximum number of devices the receiver is connecting to at a time.
    Right now zephyr is only supporting one at a time"

  config HERALD_MAX_PAYLOAD_SIZE
  int "Max payload bytes"
  default 256
  help
    "The buffer size to store payloads in. Must be larger then any payload"
  
  comment "Database"

  config HERALD_DEVICE_EXPIRY_SEC
  int "Max time to remember device after scan (seconds)"
  default 900
  help
    "The maximum amount of time in seconds to remember device before it is removed"
  
  config HERALD_MAX_DEVS_IN_DB
  int "Maximum number of devices to keep in the database"
  default 600
  help
    "The maximum number of devices to keep in the database"
  
  comment "Filter"

  config HERALD_SCAN_EVERYTHING
  bool "Scan for every device"
  default n
  help
    "If set to no, only herald potential devices will be in didMeasure
    If set to yes, didMeasure will be called form every device"
  
  config HERALD_FILTER_ALLOW_APPLE_MANUFACTURER_ID
  bool "Allow apple to pass through filter"
  default y
  depends on !HERALD_SCAN_EVERYTHING
  help
    "If set to Y then apple and herald service UUID will pass through filter"

comment "Herald not found exponential backoff"

  config HERALD_NOT_FOUND_EXP_BACKOFF_RESET_COUNT
  int "Herald not found backoff reset count"
  default 4
  help
    "The exponential backoff reset count for herald service
    Set to zero or negative to disable"

  config HERALD_NOT_FOUND_EXP_BACKOFF_INTERVAL_S
  int "Herald not found backoff interval (seconds)"
  default 30
  help
    "The exponential backoff interval. delay=interval*rate^N"

  config HERALD_NOT_FOUND_EXP_BACKOFF_RATE
  int "Herald not found backoff rate"
  default 7
  help
    "delay=interval*rate^N"

comment "Connection error exponential backoff"

  config HERALD_CON_ERR_EXP_BACKOFF_INTERVAL_S
  int "Connection error exponential backoff interval (seconds)"
  default 30
  help
    "The exponential backoff interval for connection errors"

  config HERALD_CON_ERR_EXP_BACKOFF_RATE
  int "Connection error exponential backoff rate"
  default 6
  help
    "The exponential backoff rate"

  config HERALD_CON_ERR_EXP_RESET_COUNT
  int "Connection error exponential backoff reset count"
  default 4
  help
    "The number off connection errors before the count is reset
    Set to zero or negative to not be used"

  comment "Advertising and scanning"

  config HERALD_ADVERTISING_INTERVAL
  int "Advertising interval MS"
  default 200

  config HERALD_ADVERTISING_INTERVAL_DEVIATION
  int "Advertising deviation MS"
  default 5

  config HERALD_SCAN_INTERVAL_MS
  int "Scan interval MS"
  default 5000

  config HERALD_SCAN_WINDOW_MS
  int "Scan window MS"
  default 500

endmenu
